@charset "UTF-8";
/*
1.-Posicionamiento
2.-Modelo de caja(Box model)
3.-Tipografía
4.-Visuales
5.-Otros
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

header {
  display: flex;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  background-color: #FFEFE7;
}
header nav {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-block-start: 20px;
  margin-block-end: 20px;
}
header nav p {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 2rem;
  font-weight: normal;
  line-height: 2.6rem;
  color: #7C6A0A;
}
header nav button {
  background: none;
  border: none;
}
header nav button img {
  width: 20px;
  height: 20px;
}

main {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  min-width: 320px;
  font-family: "IBM Plex Sans", sans-serif;
  background-color: #FFEFE7;
}
main .ecological-impact {
  width: 92%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
main .ecological-impact img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 60vh;
  border-radius: 8px;
}
main .ecological-impact .info-impact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 186px;
}
main .ecological-impact .info-impact h2 {
  padding-block-start: 10px;
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 3.2rem;
  color: #7C6A0A;
}
main .ecological-impact .info-impact p {
  font-size: 1.2rem;
  font-weight: normal;
  line-height: 1.5rem;
  color: #7C6A0A;
}
main .ecological-impact .info-impact button {
  align-self: center;
  width: 152px;
  height: 42px;
  border: none;
  background-color: #FA9500;
  border-radius: 12px;
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.7;
}

.health-care, .home-decor {
  margin-block-start: 60px;
  width: 92%;
}
.health-care h2, .home-decor h2 {
  width: 50%;
  font-size: 2.2rem;
  font-weight: normal;
  line-height: 2.7rem;
  color: #7C6A0A;
}
.health-care .container-cards, .home-decor .container-cards {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
  margin-block-start: 30px;
}
.health-care .card, .home-decor .card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  width: 32%;
  min-width: 178px;
  max-width: 324px;
  height: 276px;
  max-height: 502px;
  border-radius: 6px;
  scroll-snap-align: center;
  background-color: #FFDAC6;
  color: #7C6A0A;
}
.health-care .card button, .home-decor .card button {
  background: none;
  border: none;
  margin-block-start: 2px;
  margin-block-end: 8px;
  align-self: flex-end;
}
.health-care .card button path, .home-decor .card button path {
  stroke: #7C6A0A;
}
.health-care .card img, .home-decor .card img {
  width: 25vw;
  min-width: 132px;
  max-width: 241px;
  height: 174px;
  border-radius: 5px;
}
.health-care .card .info-card, .home-decor .card .info-card {
  margin-block-start: 10px;
  width: 85%;
}
.health-care .card .info-card h3, .home-decor .card .info-card h3 {
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.8rem;
}
.health-care .card .info-card p, .home-decor .card .info-card p {
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.1rem;
}

.home-decor .card {
  background-color: #BABD8D;
  color: white;
}/*# sourceMappingURL=main.css.map */