@charset "UTF-8";
/*
1.-Posicionamiento
2.-Modelo de caja(Box model)
3.-Tipografía
4.-Visuales
5.-Otros
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

header {
  display: flex;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  background-color: #FFEFE7;
}
header nav {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-block-start: 20px;
  margin-block-end: 20px;
}
header nav p {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 2rem;
  font-weight: normal;
  line-height: 2.6rem;
  color: #7C6A0A;
}
header nav button {
  background: none;
  border: none;
}
header nav button img {
  width: 20px;
  height: 20px;
}
header nav .icons {
  display: none;
}

main {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  min-width: 320px;
  font-family: "IBM Plex Sans", sans-serif;
  background-color: #FFEFE7;
}
main .ecological-impact {
  width: 92%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
main .ecological-impact img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 60vh;
  border-radius: 8px;
}
main .ecological-impact .info-impact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 186px;
}
main .ecological-impact .info-impact h2 {
  padding-block-start: 10px;
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 3.2rem;
  color: #7C6A0A;
}
main .ecological-impact .info-impact p {
  font-size: 1.2rem;
  font-weight: normal;
  line-height: 1.5rem;
  color: #7C6A0A;
}
main .ecological-impact .info-impact button {
  align-self: center;
  width: 152px;
  height: 42px;
  border: none;
  background-color: #FA9500;
  border-radius: 12px;
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.7;
}

.health-care, .about-us, .home-decor {
  margin-block-start: 60px;
  width: 92%;
}
.health-care h2, .about-us h2, .home-decor h2 {
  width: 50%;
  font-size: 2.2rem;
  font-weight: normal;
  line-height: 2.7rem;
  color: #7C6A0A;
}
.health-care .container-cards, .about-us .container-cards, .home-decor .container-cards {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
  margin-block-start: 30px;
}
.health-care .card, .about-us .card, .home-decor .card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  width: 32%;
  min-width: 178px;
  max-width: 324px;
  height: 276px;
  border-radius: 6px;
  scroll-snap-align: center;
  background-color: #FFDAC6;
  color: #7C6A0A;
}
.health-care .card button, .about-us .card button, .home-decor .card button {
  background: none;
  border: none;
  margin-block-start: 2px;
  margin-block-end: 8px;
  align-self: flex-end;
}
.health-care .card button path, .about-us .card button path, .home-decor .card button path {
  stroke: #7C6A0A;
}
.health-care .card img, .about-us .card img, .home-decor .card img {
  width: 25vw;
  min-width: 132px;
  max-width: 241px;
  height: 174px;
  border-radius: 5px;
}
.health-care .card .info-card, .about-us .card .info-card, .home-decor .card .info-card {
  margin-block-start: 10px;
  width: 85%;
}
.health-care .card .info-card h3, .about-us .card .info-card h3, .home-decor .card .info-card h3 {
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.8rem;
}
.health-care .card .info-card p, .about-us .card .info-card p, .home-decor .card .info-card p {
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.1rem;
}

.home-decor .card {
  background-color: #BABD8D;
  color: white;
}

.about-us h2 {
  width: 100%;
}

.why-us .mission-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-block-start: 30px;
  flex-wrap: wrap;
  align-content: center;
  color: #FA9500;
}
.why-us .mission-info .info {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.why-us .mission-info .info img {
  width: 74px;
}
.why-us .mission-info .info p {
  font-size: 1.3rem;
  font-weight: normal;
  line-height: 1.7rem;
  text-align: center;
}

.gallery {
  margin-block-start: 40px;
}
.gallery .image {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  gap: 20px;
  margin-block-start: 30px;
}
.gallery .image img {
  width: 90%;
  min-width: 296px;
  max-width: 396px;
  height: 297px;
  border-radius: 8px;
}

.location {
  margin-block-start: 40px;
  color: #FA9500;
  margin-block-end: 60px;
}
.location img {
  margin-block-start: 30px;
  margin-block-end: 40px;
  width: 100%;
  min-width: 300px;
  height: 480px;
  border-radius: 4px;
  -o-object-fit: cover;
     object-fit: cover;
}
.location h3 {
  width: 60%;
  margin-block-end: 20px;
  font-size: 2rem;
  font-weight: normal;
  line-height: 2.6rem;
}
.location p {
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 2rem;
}

footer {
  background-color: #FA9500;
  color: white;
}
footer p {
  font-size: 2.1rem;
  font-weight: 500;
  line-height: 2.7rem;
  padding-left: 8px;
  padding-top: 10px;
}
footer li {
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1.8rem;
  list-style: none;
  padding-left: 8px;
  padding-top: 10px;
}
footer .social-icons {
  width: 160px;
  height: 40px;
  margin-top: 18px;
}
footer .social-icons img {
  width: 26px;
  height: 26px;
  margin-left: 18px;
}/*# sourceMappingURL=main.css.map */