.health-care {
    .container-cards {
        gap: 20px;
        overflow-x: hidden;
        flex-wrap: wrap;
    }
    .card {
        width: 324px;
        height: 502px;

        img {
            width: 90%;
            height: 70%;
        }

        .info-card {
            h3 {
                font-size: 1.6rem;
                line-height: 2.4rem;
            }
            p {
                font-size: 1.2rem;
                line-height: 1.5rem;
            }
        }
    }
}

.home-decor {
    @extend .health-care;
}

.why-us {
    .mission-info {
        flex-direction: row;
        justify-content: center;
        .info {
            width: 40%;
            flex-direction: row;
            p {
                font-size: 1.4rem;
                line-height: 1.8rem;
            }
        }
    }
}

.gallery {
    .image {
        img {
            height: 397px;
        }
    }
}

.location {

    img {
        height: 596px;
    }
}

footer {
    .social-icons {
        margin: 18px auto 0;
    }
}